/*
  HTML5 support for older browswers.
*/
header, section, footer, aside, nav, main, article, figure {
  display: block;
}

/*
  Add margin to the top of headers.
*/
h3, h4, footer {
  margin-top: 40px;
}

ul {
  list-style-type: none;
}

.text-center {
  text-align: center;
}

/*
 Set FontAwesome checkmarks to green.
*/
.fa-check {
  color: darkgreen;
}

/*
  Set FontAwesome times ("the X's") to red.
*/
.fa-times {
  color: red;
}

#education-text {
  font-size: 4em;
}

#cvtc-symbol {
  max-height: 70px;
}

/*
  Rainbow curtosy of https://rainbowcoding.com/2011/12/02/how-to-create-rainbow-text-in-html-css-javascript/
*/
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 768px) {
  div#logo {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  div#logo {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  div#logo {
    font-size: 12.5px;
  }
}